* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none; }

.img-logo-nav, .txt-logo-nav, .btn-nav, .sidebar, .img-logo-side, .txt-logo-side, .redes-side a {
  display: flex;
  justify-content: center;
  align-items: center; }

.logo-nav, .logo-side {
  display: flex;
  align-items: center; }

.img-logo-nav img, .img-logo-side img, .redes-side a img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  /* prevent original image from dragging */
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

header {
  width: 100%;
  height: 100vh;
  background-color: #303030;
  position: relative; }
  header nav {
    width: 100%;
    height: 80px;
    background-color: #f9f5f4;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center; }
  @media (max-width: 500px) {
    header nav {
      background-color: transparent; } }

.logo-nav {
  width: auto;
  height: 60px;
  position: absolute;
  left: 35px;
  flex-direction: row; }
  @media (max-width: 500px) {
    .logo-nav {
      display: none; } }

.img-logo-nav {
  width: 60px;
  height: 60px;
  margin-right: 15px; }

.txt-logo-nav {
  width: 180px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  color: #303030;
  cursor: default; }
  @media (max-width: 320px) {
    .txt-logo-nav {
      font-size: 1em; } }

.btn-nav {
  width: 50px;
  height: 50px;
  background-color: #f9f5f4;
  position: absolute;
  right: 35px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  overflow: hidden;
  z-index: 10; }
  @media (max-width: 320px) {
    .btn-nav {
      width: 40px;
      height: 40px;
      right: 25px; } }

.btn-nav-line {
  width: 30px;
  height: 4px;
  background-color: #f9b122;
  border-radius: 5px;
  box-shadow: 0 2px 5px #00000033;
  transition: all .3s ease-in-out; }
  .btn-nav-line::before, .btn-nav-line::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #f9b122;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000033;
    transition: all .3s ease-in-out; }
  .btn-nav-line:before {
    transform: translateY(-9px); }
  .btn-nav-line:after {
    transform: translateY(9px); }
  .btn-nav.open .btn-nav-line {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none; }
  .btn-nav.open .btn-nav-line::before {
    transform: rotate(45deg) translate(36px, -36px); }
  .btn-nav.open .btn-nav-line:after {
    transform: rotate(-45deg) translate(36px, 36px); }

.sidebar {
  width: 500px;
  height: 100vh;
  background-color: #f9f5f4;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 5;
  transition: all .3s ease-in-out; }
  .sidebar.open {
    right: 0; }
  .sidebar.open .logo-side {
    opacity: 1; }
  @media (max-width: 500px) {
    .sidebar {
      width: 100%; } }

.logo-side {
  width: auto;
  height: 60px;
  position: absolute;
  top: 15px;
  left: 35px;
  display: none;
  flex-direction: row;
  opacity: 0;
  transition: all .7s ease-in-out; }
  @media (max-width: 535px) {
    .logo-side {
      display: flex; } }
  @media (max-width: 375px) {
    .logo-side {
      left: 20px; } }

.img-logo-side {
  width: 50px;
  height: 50px;
  margin-right: 15px; }

.txt-logo-side {
  width: 180px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  color: #303030;
  cursor: default; }
  @media (max-width: 320px) {
    .txt-logo-side {
      font-size: 1em; } }

.menu-side {
  width: 85%;
  height: 450px;
  margin-top: -135px; }
  .menu-side ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column; }
  .menu-side li {
    width: 200px;
    height: auto; }
  .menu-side a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.75em;
    font-weight: 400;
    color: #303030;
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden; }
    .menu-side a:hover {
      color: #0053A1; }
    .menu-side a::before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #f9b122;
      position: absolute;
      bottom: 0;
      right: -100%;
      transition: all .2s ease-in-out; }
    .menu-side a:hover::before {
      right: 0; }
  @media (max-width: 535px) {
    .menu-side ul {
      align-items: center;
      justify-content: space-around; }
    .menu-side a {
      align-items: center;
      justify-content: center;
      text-align: center; }
      .menu-side a::before {
        content: '';
        width: 0%;
        right: 50%; }
      .menu-side a:hover::before {
        width: 100%; } }

.redes-side {
  width: 85%;
  height: 130px;
  position: absolute;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .redes-side ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column; }
  .redes-side li {
    width: auto;
    height: auto;
    border-radius: 50px;
    transition: all .4s ease-in-out; }
    .redes-side li:hover {
      box-shadow: 4px 4px 8px #3030303a; }
    .redes-side li:active {
      box-shadow: 4px 4px 8px #30303071; }
  .redes-side a {
    width: 50px;
    height: 50px; }
  @media (max-width: 535px) {
    .redes-side {
      height: 60px;
      bottom: 50px;
      justify-content: center; }
    .redes-side ul {
      flex-direction: row; } }

.prueba {
  width: 100%;
  height: 200vh;
  background-color: #e97171; }

/*# sourceMappingURL=main.css.map */