* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  color: #303030; }

.img-logo-nav, .txt-logo-nav, .btn-nav, .sidebar, .redes-side a, .text-header, .text-header h1, .btn-contact, #about-us, .about-text {
  display: flex;
  justify-content: center;
  align-items: center; }

.logo-nav {
  display: flex;
  align-items: center; }

.img-logo-nav img, .redes-side a img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  /* prevent original image from dragging */
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

header {
  width: 100%;
  height: 100vh;
  background-color: #f9f5f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  header nav {
    width: 100%;
    height: 80px;
    background-color: #f9f5f4;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100; }
  @media (max-width: 500px) {
    header nav {
      background-color: transparent; } }

.logo-nav {
  width: auto;
  height: 60px;
  position: absolute;
  left: 35px;
  z-index: 10;
  flex-direction: row; }
  @media (max-width: 500px) {
    .logo-nav {
      left: 25px; } }

.img-logo-nav {
  width: 60px;
  height: 60px;
  margin-right: 15px; }
  @media (max-width: 500px) {
    .img-logo-nav {
      width: 45px;
      height: 45px; } }

.txt-logo-nav {
  width: 180px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  color: #303030;
  cursor: default;
  transition: all .4s ease-in-out; }
  .txt-logo-nav.open {
    color: #303030; }
  @media (max-width: 500px) {
    .txt-logo-nav {
      color: transparent; } }
  @media (max-width: 320px) {
    .txt-logo-nav {
      font-size: 1em; } }

.btn-nav {
  width: 50px;
  height: 50px;
  background-color: #f9f5f4;
  position: absolute;
  right: 35px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  overflow: hidden;
  z-index: 10; }
  @media (max-width: 320px) {
    .btn-nav {
      width: 40px;
      height: 40px;
      right: 25px; } }

.btn-nav-line {
  width: 30px;
  height: 4px;
  background-color: #FEC961;
  border-radius: 5px;
  box-shadow: 0 2px 5px #00000033;
  transition: all .3s ease-in-out; }
  .btn-nav-line::before, .btn-nav-line::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #FEC961;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000033;
    transition: all .3s ease-in-out; }
  .btn-nav-line:before {
    transform: translateY(-9px); }
  .btn-nav-line:after {
    transform: translateY(9px); }
  .btn-nav.open .btn-nav-line {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none; }
  .btn-nav.open .btn-nav-line::before {
    transform: rotate(45deg) translate(36px, -36px); }
  .btn-nav.open .btn-nav-line:after {
    transform: rotate(-45deg) translate(36px, 36px); }

.sidebar {
  width: 360px;
  height: 100vh;
  background-color: #f9f5f4;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 5;
  transition: all .3s ease-in-out; }
  .sidebar.open {
    right: 0; }
  @media (max-width: 500px) {
    .sidebar {
      width: 100%; } }

.menu-side {
  width: 85%;
  height: 50%;
  margin-top: -125px; }
  .menu-side ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column; }
  .menu-side li {
    width: 200px;
    height: auto; }
  .menu-side a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.75em;
    font-weight: 400;
    color: #303030;
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden; }
    .menu-side a:hover {
      color: #0053A1; }
    .menu-side a::before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #FEC961;
      position: absolute;
      bottom: 0;
      right: -100%;
      transition: all .2s ease-in-out; }
    .menu-side a:hover::before {
      right: 0; }
  @media (max-width: 535px) {
    .menu-side ul {
      align-items: center;
      justify-content: space-around; }
    .menu-side a {
      align-items: center;
      justify-content: center;
      text-align: center; }
      .menu-side a::before {
        content: '';
        width: 0%;
        right: 50%; }
      .menu-side a:hover::before {
        width: 100%; } }

.redes-side {
  width: 85%;
  height: 130px;
  position: absolute;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .redes-side ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column; }
  .redes-side li {
    width: auto;
    height: auto;
    border-radius: 50px;
    transition: all .4s ease-in-out; }
    .redes-side li:hover {
      box-shadow: 4px 4px 8px #3030303a; }
    .redes-side li:active {
      box-shadow: 4px 4px 8px #30303071; }
  .redes-side a {
    width: 50px;
    height: 50px; }
  @media (max-width: 535px) {
    .redes-side {
      height: 60px;
      bottom: 50px;
      justify-content: center; }
    .redes-side ul {
      flex-direction: row; } }

#slider-header {
  width: 1000px;
  height: 560px;
  scroll-behavior: smooth;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: 50px; }
  @media (max-width: 1120px) {
    #slider-header {
      right: auto; } }
  @media (max-width: 1024px) {
    #slider-header {
      width: 100%;
      height: 80vh;
      top: 0; } }

.item {
  width: 100%;
  height: 100%;
  display: inline-flex;
  overflow: hidden;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f5f433; }
  .item img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none; }
  @media (max-width: 1024px) {
    .item img {
      object-fit: cover;
      object-position: center; } }

.wrap {
  margin-left: -4.5px; }

.text-header {
  width: 600px;
  height: 250px;
  background-color: #f9f5f4;
  position: absolute;
  left: 50px;
  top: 145px; }
  .text-header h1 {
    width: 90%;
    height: auto;
    font-size: 4em;
    font-family: roboto, sans-serif;
    font-weight: 800; }
  @media (max-width: 1024px) {
    .text-header {
      width: 450px;
      height: 200px;
      top: inherit;
      bottom: 50px;
      left: 20px; }
    .text-header h1 {
      font-size: 2.875em; } }
  @media (max-width: 535px) {
    .text-header {
      width: 80%;
      height: 200px;
      top: inherit;
      bottom: 100px;
      left: auto; }
    .text-header h1 {
      font-size: 2em;
      text-align: center; } }
  @media (max-width: 320px) {
    .text-header {
      width: 90%;
      height: 160px; }
    .text-header h1 {
      font-size: 2em;
      text-align: center; } }

.btn-contact {
  width: auto;
  height: auto;
  position: absolute;
  left: 65px;
  bottom: 120px;
  overflow: hidden;
  box-shadow: 4px 4px 8px #3030300c; }
  .btn-contact a {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 2em;
    font-family: roboto, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #0053A1; }
  .btn-contact::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #FEC961;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: all .3s ease-in-out; }
  .btn-contact:hover::before {
    left: 0; }
  @media (max-width: 1024px) {
    .btn-contact {
      left: inherit;
      right: 35px;
      bottom: 30px; }
    .btn-contact::before {
      left: 100%; }
    .btn-contact:hover::before {
      left: 0; } }
  @media (max-width: 535px) {
    .btn-contact {
      left: inherit;
      right: auto;
      bottom: 30px; }
    .btn-contact a {
      font-size: 1.375em; } }

#about-us {
  width: 100%;
  height: 100vh;
  background-color: #f9f5f4;
  position: relative; }
  @media (max-width: 800px) {
    #about-us {
      width: 100%;
      height: 1000px; } }

#slider-about-container {
  width: 545px;
  height: 664px;
  left: 80px;
  bottom: 50px;
  overflow: hidden;
  position: absolute; }
  @media (max-width: 1120px) {
    #slider-about-container {
      width: 387px;
      height: 75vh; } }
  @media (max-width: 800px) {
    #slider-about-container {
      width: 70%;
      height: 550px;
      top: 20px;
      left: auto; } }
  @media (max-width: 500px) {
    #slider-about-container {
      width: 85%; } }
  @media (max-width: 400px) {
    #slider-about-container {
      width: 100%; } }

.slider-about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
  transition: all .6s ease-in-out; }
  .slider-about div:nth-child(1) {
    width: 100%;
    height: 100%;
    background: url("../../img/about/01.jpeg");
    background-position: center;
    background-size: cover;
    position: absolute; }
    .slider-about div:nth-child(1)::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #f9f5f433; }

.slider-about div:nth-child(2) {
  width: 100%;
  height: 100%;
  background: url("../../img/about/02.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -100%; }
  .slider-about div:nth-child(2)::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f5f433; }

.slider-about div:nth-child(3) {
  width: 100%;
  height: 100%;
  background: url("../../img/about/03.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -200%; }
  .slider-about div:nth-child(3)::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f5f433; }

.slider-about div:nth-child(4) {
  width: 100%;
  height: 100%;
  background: url("../../img/about/04.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -300%; }
  .slider-about div:nth-child(4)::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f5f433; }

.slider-about div:nth-child(5) {
  width: 100%;
  height: 100%;
  background: url("../../img/about/05.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -400%; }
  .slider-about div:nth-child(5)::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f5f433; }

.about-text {
  width: 780px;
  height: 325px;
  background-color: #f9f5f4;
  position: absolute;
  right: 80px;
  top: 120px;
  flex-direction: column; }
  .about-text h2 {
    font-family: roboto, sans-serif;
    font-weight: 800;
    font-size: 4em;
    width: 90%;
    height: auto;
    margin-bottom: 20px; }
  .about-text p {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 1.375em;
    width: 90%;
    height: auto; }
  @media (max-width: 1120px) {
    .about-text {
      width: 580px;
      height: 275px; }
    .about-text h2 {
      font-size: 3.25em; }
    .about-text p {
      font-size: 1.0625em; } }
  @media (max-width: 800px) {
    .about-text {
      width: 90%;
      height: 275px;
      right: auto;
      top: auto;
      bottom: 60px; }
    .about-text h2 {
      font-size: 2.875em;
      text-align: center; }
    .about-text p {
      text-align: center; } }
  @media (max-width: 500px) {
    .about-text {
      height: 325px;
      bottom: 25px; } }
  @media (max-width: 400px) {
    .about-text {
      height: 280px; }
    .about-text h2 {
      font-size: 2em; }
    .about-text p {
      font-size: 0.875em; } }

/*# sourceMappingURL=main.css.map */