.btn-contact {
    width: auto;
    height: auto;
    position: absolute;
    left: 65px;
    bottom: 120px;
    @extend %flex-center;
    overflow: hidden;
    box-shadow: 4px 4px 8px #3030300c;
    a {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        font-size: em(32px);
        font-family: roboto, sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        color: $secundary;
    }
    &::before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $primary;
        position: absolute;
        bottom: 0;
        left: -100%;
        transition: all .3s ease-in-out;
    }
    &:hover::before {
        left: 0;
    }
    @media (max-width: 1024px) {
        & {
            left: inherit;
            right: 35px;
            bottom: 30px;
        }
        &::before {
            left: 100%;
        }
        &:hover::before {
            left: 0;
        }
    }
    @media (max-width: 535px) {
        & {
            left: inherit;
            right: auto;
            bottom: 30px;
        }
        a {
            font-size: em(22px);
        }
    }
}