.logo-nav {
    width: auto;
    height: 60px;
    position: absolute;
    left: 35px;
    @extend %flex-align;
    flex-direction: row;
}

.img-logo-nav {
    width: 60px;
    height: 60px;
    @extend %flex-center;
    margin-right: 15px;
    img {
        @extend %img-cover;
    }
}

.txt-logo-nav {
    width: 180px;
    height: 60px;
    @extend %flex-center;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: em(22px);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    color: $black;
    cursor: default;
}

.btn-nav {
    width: 50px;
    height: 50px;
    @extend %flex-center;
    background-color: $white;
    position: absolute;
    right: 35px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    overflow: hidden;
    &:hover {
        box-shadow: 0 2px 5px #00000033;
    }
    &:active {
        box-shadow: 0 2px 5px #0000004f;
    }
    @media (max-width: 320px) {
        & {
            width: 40px;
            height: 40px;
            right: 25px;
        }
    }
}

.btn-nav-line {
    width: 30px;
    height: 4px;
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000033;
    transition: all .3s ease-in-out;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: $primary;
        border-radius: 5px;
        box-shadow: 0 2px 5px #00000033;
        transition: all .3s ease-in-out;
    }
    &:before {
        transform: translateY(-9px);
    }
    &:after {
        transform: translateY(9px);
    }
    .btn-nav.open & {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }
    .btn-nav.open &::before {
        transform: rotate(45deg) translate(36px, -36px);
    }
    .btn-nav.open &:after {
        transform: rotate(-45deg) translate(36px, 36px);
    }
}