%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-justify {
    display: flex;
    justify-content: center;
}

%flex-align {
    display: flex;
    align-items: center;
}

%img-cover {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    /* prevent original image from dragging */
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

%img-contain {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}